
<!-- incio de sesion -->
<div *ngIf="!userB">

    <form>
        <h1 *ngIf="!logUp">Log In</h1>
        <h1 *ngIf="logUp">REGISTRO</h1>
        <input *ngIf="logUp" type="text" name="E"  [(ngModel)]="loginForm.userName" placeholder="nombre de usuario">
        <input type="email" name="E"  [(ngModel)]="loginForm.email" placeholder="Email" autocomplete="on">
        <input type="password" name="P"  [(ngModel)]="loginForm.password" placeholder="password" autocomplete="on">

        <a *ngIf="!logUp" (click)="logUpF()">Crear nueva cuenta</a>
        <a *ngIf="logUp" (click)="logUpF()">ya tengo cuenta</a>

        <button  *ngIf="!logUp" (click)="login()">
            comprobar
        </button>        
        
        <button  *ngIf="logUp" (click)="logup()">
            crear
        </button>
    </form>

</div>

<div *ngIf="userB">
    <h1>Bienvendido/a, {{ user.userName }}</h1>
    <button (click)="leave()" style="background-color: brown;color: whitesmoke" >cerrar sesion</button>
</div>