form{
    margin: auto;
    font-size: 2rem;
    text-align: center;
    min-width: 30%;
    width: 400px;
    max-width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form button, input{
    font-size: 2rem;
}

