<p>login works!</p>
<!-- incio de sesion -->
<div  *ngIf="!token">

    <form>
        <h1 *ngIf="!logup">Log In</h1>
        <h1 *ngIf="logUp">REGISTRO</h1>
        
        <input type="email" name="E"  [(ngModel)]="loginForm.email" id="E" placeholder="Email" class="form">
        <input type="password" name="P"  [(ngModel)]="loginForm.password" id="P" placeholder="password" class="form">

        <a *ngIf="!logUp" (click)="logUpF()">Crear nueva cuenta</a>
        <a *ngIf="logUp" (click)="logUpF()">ya tengo cuenta</a>

        <button  *ngIf="!logUp" (click)="login()">
            comprobar
        </button>        
        
        <button  *ngIf="logUp" (click)="login()">
            crear
        </button>
    </form>

</div>