<div class="container">
    <h2>
        hola {{ user.userName }}, ¿De que ciudad te gustaría ver su clima?
    </h2>
    


            <input type="text" [(ngModel)]="city" (keydown.enter)="onKeyDown($event)">
            <button (click)="getStatus()"> Buscar</button>


        <div *ngIf="info">
            {{ info.name }}  tiene una temperatura {{ info.main.temp }} C°
        </div>

        <div>
            <a *ngIf="!findB" (click)="find()">¿Quieres ver las búsquedas recientes?</a>
            <a *ngIf="findB" (click)="find()">¿Quieres ocultar las búsquedas recientes?</a>
        </div>

        <div *ngIf="findB">
            <p>

                ¿cuantos elementos quieres ver por pagina?
                
                <input type="radio" name="empleoactual" value=5 [(ngModel)]="ItemsPP"> 5
            
                <input type="radio" name="empleoactual" value=10 [(ngModel)]="ItemsPP"> 10
            
                <input type="radio" name="empleoactual" value=15 [(ngModel)]="ItemsPP"> 15
            
              </p>

            <h2>busquedas recientes</h2>
            <input type="text" placeholder="¿Alguna ciudad en específico?" id="filter" (ngModelChange)="filterF(this.filter)"  [(ngModel)]="filter">
            <table>
                <tr>
                    <td>Ciudad</td>
                    <td>Temperatura</td>
                </tr>
                <ul>

                </ul>
                
                <div *ngIf="!filterA">
                    <tr *ngFor="let e of user.queries | paginate: { itemsPerPage: ItemsPP, currentPage: p }">
                        <td>{{ e.name }}</td>
                        <td>{{ e.main.temp }} C°</td>
                    </tr>
                </div>
                <div *ngIf="filterA">
                    <tr *ngFor="let e of filterL | paginate: { itemsPerPage: ItemsPP, currentPage: p }">
                        <td>{{ e.name }}</td>
                        <td>{{ e.main.temp }} C°</td>
                    </tr>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                <button (click)="deleteQueries()">Borrar el historial de consultas</button>
            </table>

     

        </div>


<div>

