<div class="container">
    <h2>
        hola {{ user.userName }}, ¿De que ciudad te gustaría ver su clima?
    </h2>
    


            <input type="text" [(ngModel)]="city" >
            <button (click)="getStatus()"> buscar</button>


        <div *ngIf="info">
            {{ info.name }}  tiene una temperatura {{ info.main.temp }} C°
        </div>

        <div>
            <a *ngIf="!findB" (click)="find()">¿Quieres ver las búsquedas recientes?</a>
            <a *ngIf="findB" (click)="find()">¿Quieres ocultar las búsquedas recientes?</a>
        </div>

        <div *ngIf="findB">
            <p>

                ¿cuantos elementos quieres ver por pagina?
                
                <input type="radio" name="empleoactual" value=5 [(ngModel)]="ItemsPP"> 5
            
                <input type="radio" name="empleoactual" value=10 [(ngModel)]="ItemsPP"> 10
            
                <input type="radio" name="empleoactual" value=15 [(ngModel)]="ItemsPP"> 15
            
              </p>

            <h2>busquedas recientes</h2>
            <table>
                <tr>
                    <td>ciudad</td>
                    <td>temperatura</td>
                </tr>

                <tr *ngFor="let e of user.queries | paginate: { itemsPerPage: ItemsPP, currentPage: p }">
                    <td>{{ e.name }}</td>
                    <td>{{ e.main.temp }}</td>
                    
                </tr>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </table>
        </div>


<div>

